APP_PROFILE=local

DB_URL=jdbc:postgresql://localhost:5432/facecheck
DB_USERNAME=facecheck
DB_PASSWORD=facecheck

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=facecheck
RABBITMQ_PASSWORD=facecheck

JWT_ISSUER=facecheck
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_MINUTES=120

HUAWEI_CLOUD_ENABLED=false
OBS_ENABLED=false
FRS_AK=
FRS_SK=
OBS_AK=
OBS_SK=
FRS_PROJECT_ID=
FRS_REGION=
FRS_ENDPOINT=
FRS_FACE_SET_NAME=facecheck-default
FRS_SIMILARITY_THRESHOLD=85

OBS_ENDPOINT=
OBS_REGION=
OBS_BUCKET=
